<div id="intro-carousel" class="carousel slide" data-ride="carousel">
  <div id="intro-text">
    <h1>PANDEMIC</h1>
    <h2>Columbia University Women's Ultimate</h2>
    <a href="#main" class="btn-learn-more" role="button">Learn more &raquo;</a>
  </div>

  <ol class="carousel-indicators">
    <li data-target="#intro-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#intro-carousel" data-slide-to="1"></li>
    <li data-target="#intro-carousel" data-slide-to="2"></li>
    <li data-target="#intro-carousel" data-slide-to="3"></li>
    <li data-target="#intro-carousel" data-slide-to="4"></li>
    <li data-target="#intro-carousel" data-slide-to="5"></li>
    <li data-target="#intro-carousel" data-slide-to="6"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item slide-1 active">
    </div>
    <div class="item slide-2">
    </div>
    <div class="item slide-3">
    </div>
    <div class="item slide-4">
    </div>
    <div class="item slide-5">
    </div>
    <div class="item slide-6">
    </div>
    <div class="item slide-7">
    </div>
  </div>
</div>